<template>
    <div class="main-content container">
      <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
          <header>
            <h1 class="animation-slide-top">404</h1>
            <p>Page Not Found !</p>
          </header>
          <p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
          <a class="btn btn-primary btn-round" href="/">GO TO HOME PAGE</a>        
        </div>
      </div>
    </div>
</template>
